<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>140562258254-9t7ieek06i7tvl2p95lbs2h3e2n6245r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.140562258254-9t7ieek06i7tvl2p95lbs2h3e2n6245r</string>
	<key>API_KEY</key>
	<string>AIzaSyBHJznR5gG5L2p0ga26BR1auOA4tUV52rA</string>
	<key>GCM_SENDER_ID</key>
	<string>140562258254</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.looklockApp</string>
	<key>PROJECT_ID</key>
	<string>looklock-bda41</string>
	<key>STORAGE_BUCKET</key>
	<string>looklock-bda41.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:140562258254:ios:9c9d7c2e00c61d88d7261f</string>
</dict>
</plist>
