<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBHJznR5gG5L2p0ga26BR1auOA4tUV52rA</string>
	<key>GCM_SENDER_ID</key>
	<string>140562258254</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.locklockApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>looklock-bda41</string>
	<key>STORAGE_BUCKET</key>
	<string>looklock-bda41.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:140562258254:ios:3e0329b8e07e4fd4d7261f</string>
</dict>
</plist>