**/firebase_options.dart

# Временные файлы компиляции Dart/Flutter
.dart_tool/
.packages
.pub-cache/
.pub/
build/

# Логи и кэш
*.log
*.temp
*.tmp

# Конфигурации IDE
.vscode/
.idea/
*.iml

# Файлы операционной системы
.DS_Store
Thumbs.db

# Секретные файлы (на всякий случай, если появятся другие)
*.env
*.jks
*.keystore
